@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

body {
  font-family: "Fira Code", monospace;
  background-color: #282c33;
}
